www.bydscgroup.com {
  redir https://bydscgroup.com{uri} permanent
}

bydscgroup.com {
  handle_path /_next/* {
    root * /var/www/cobranza/.next
    file_server
  }

  handle {
    reverse_proxy 127.0.0.1:3030
  }
}

