www.bydscgroup.com {
  redir https://bydscgroup.com{uri} permanent
}

bydscgroup.com {
  handle /_next/static/* {
    root * /var/www/cobranza
    file_server
  }

  handle {
    reverse_proxy 127.0.0.1:3030
  }
}


